* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FFF9F0; /* Change background color */
    background-image: url("../assets/PharmaEaseBG.png"); /* Ensure the path is correct */
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure full viewport height */
    overflow: hidden; /* Prevent scrolling */
}

.container {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    opacity: 1; 
    transition: opacity 1s ease;
}

.logo-img {
    display: block;
    margin: 0 auto 20px auto;
    width: 50%;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 8px;
    margin-left: 8px;
    text-align: start;
}

.input, textarea {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #fafafa;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border-color: #007bff;
    background-color: #ffffff;
    outline: none;
}

input[type="submit"] {
    background-color: #88c273;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    background-color: #2cda00;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #14f899;
}

button.submit.button {
    display: block;
    margin: 20px auto;
    width: 80%;
    background: #88c273;
    padding: 15px;
    border: 0px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

button.submit.button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    font-size: 14px;
}

.error-msg {
    color: red;
    font-size: 12px;
    margin-top: -5px;
    margin-bottom: 15px;
}

.allerror-msg {
    color: red;
    font-size: 12px;
    margin-bottom: 20px;
}

#countdown {
    font-weight: bold;
    color: #ff0000;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button {
    display: block;
    margin: 10px auto;
    width: 80%;
    background: #649752;
    padding: 8px;
    border: 0px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #567a42;
}

