* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Varela Round", sans-serif;
}

body {
    background-color: #FFF9F0; /* Change background color */
    background-image: url("../assets/PharmaEaseBG.png"); /* Ensure the path is correct */
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    opacity: 1; 
    transition: opacity 1s ease;
}

.logo-img {
    display: block;
    margin: 0 auto 20px auto;
    width: 50%;
    border-radius: 5px;
}

h2 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-bottom: 8px;
}

.input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}

input[type="submit"] {
    background-color: #88c273;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 12px;
}

.success {
    color: green;
    font-size: 14px;
}

.fade-in {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.button {
    display: block;
    margin: 10px auto;
    width: 80%;
    background: #88c273;
    padding: 8px;
    border: 0px;
    border-radius: 20px;
    color: #fff;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
